/* .slides-container{
  width: 90vw;
  height: 80vh;
  margin: 10rem auto;
  background-color: antiquewhite;
}

.slides-container .img-container{
  display: flex;
  justify-content: center;
}

.slides-container img{
  width: 40%;
  height: 50%;
} */
